@font-face {
  font-family: 'Inter';
  src: url('../assets/fonts/Inter/static/Inter_18pt-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: url('../assets/fonts/Inter/static/Inter_18pt-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: url('../assets/fonts/Inter/static/Inter_18pt-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: url('../assets/fonts/Inter/static/Inter_18pt-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: url('../assets/fonts/Inter/static/Inter_18pt-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: url('../assets/fonts/Inter/static/Inter_18pt-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: url('../assets/fonts/Inter/static/Inter_18pt-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

:root {
  /*--primary-color: #3498db;*/
  --font-main: "Inter", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-main);
  background-color: #FFFFFF;
  display: flex;
  justify-content: center;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 4rem 1.5rem;
  max-width: 40rem;
}

.profile {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.profile-data {
  height: 100%;
  margin-left: 1rem;
}

.profile-data>* {
  margin-bottom: 0.2rem;
}

.image-profile {
  border-radius: 100px;
}

.profile-data .title {
  font-family: 'Inter';
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
  color: #111111;
}

.profile-data .subtitle {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 180%;
  color: #555555;

}

.profile-data .web {
  font-weight: 400;
  font-size: 12px;
  line-height: 100%;
  color: #555555;
  background: #F6F6F6;
  border-radius: 12px;
  padding: 5px 10px 5px 10px;
}

.section {
  margin-top: 3rem;
}

.section h3 {
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  color: #111111;
}

.section .description {
  font-weight: 400;
  font-size: 14px;
  line-height: 180%;
  color: #555555;

}

.work-experience {
  display: flex;
  flex-direction: row;
  margin-top: 1rem;
}

.work-experience .date {
  font-weight: 400;
  font-size: 14px;
  line-height: 180%;
  color: #6D6D6D;
  min-width: 7rem;
}

.work-experience .title {
  font-weight: 400;
  font-size: 14px;
  line-height: 180%;
  color: #111111;
  white-space: normal;
  overflow-wrap: break-word;
  max-width: 65vw;
}

.work-experience .location {
  font-weight: 400;
  font-size: 14px;
  line-height: 180%;
  color: #555555;
}

.images-experience {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.images-experience {
  margin-top: 1.5rem;
}

.images-experience img {
  margin-right: 0.6rem;
  border: 1px solid #E5E5E5;
  border-radius: 8px;
}

@media (min-width: 768px) {
  .images-experience {
    flex-direction: row;
  }
}